#bookBtn{
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-background-color: #2C2F33;
    -fx-text-fill: rgba(255, 255, 255, 0.85);
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

}
#backBtn{
    -fx-background-image: url("../image/Home_Icon.png");
    -fx-background-size: cover;
    -fx-background-color: #2C2F33;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
#backBtn:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
#bookBtn:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#bg{
    -fx-background-color: 	#23272A;
}

